<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
h1{
    text-align: center;
    position: absolute;
    color: white;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    
}
body{
    background-color: #5068c2;
}
#link { color: white; }

</style>

</head>
<body>
    
    
    
    <h1>
        <a class="brand-logo"> <i class="material-icons">youtube_searched_for</i></a> <br>
        Error 404 - Page Not Found <br>
        Digital Evidence Management can't find the page you were looking for ):
    <br><br><br>
    <a id="link" type="submit" href="/">Return Home</a>
    </h1>

    

</body>
</html>